/*body {*/
    /*padding: 50px;*/
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*}*/

/*a {*/
    /*color: #00B7FF;*/
/*}*/

#result {
    padding: 1em;
    font-size: 0.8em;
}

.side_by_side_table table {
    display: inline-block;
}
